:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.about-page{
margin:5em;
}

.record-plays-div{
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically (optional) */
  gap: 20px;
}

.screen-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-top: 50%;
  color: red; 
  width: 50%; 
  margin-left: 20%;
}

/* From Uiverse.io by andrew-demchenk0 */ 
.error {
  margin-top: 50%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 20em;
  height: auto; 
  padding: 12px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: start; 
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  text-align: center; 
}

.error__icon {
  width: 20%;
  height: 50%;
  transform: translateY(-2px);
  margin-bottom: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px; 
  color: #fff;
}

.link-to {
  margin-top: 10px;
  color: blue;
  text-decoration: none;
  font-size: 1.5em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media (max-width: 800px) {
  .about-page{
      margin:2em;
      }
    }
