{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block content %}
<div class="content">
<div class="profileForm">
<h2>Change Password</h2>
<p><a href="{% url 'profile' %}">Back to Profile</a></p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form>

{% endblock %}
</div>
</div>
</body>